<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="<%= icon %>">
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css"/>
    </noscript>
</head>
<body class="landing is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">
    <%- include(header) %>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>&lt/Alex Peterson&gt</h2>
            <p><code>console.log("Welcome to my portfolio!")</code></p>
            <ul class="actions special">
                <li><a href="files/Resume_Peterson_Alex_05-14-21.pdf" class="button primary iframe" target="_blank">View
                        Résumé</a></li>
            </ul>
        </div>
        <a href="#AboutMe" class="more scrolly">Learn More</a>
    </section>

    <!-- One -->
    <section id="AboutMe" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <div>
                    <img src="images/headshot_clear.png" alt="" style="height: 25rem; width: auto">
                </div>

                <h2>&lt/ About Me &gt<br/>
                </h2>
                <p>Hello! I recently graduated from California Baptist University with a Bachelors of Science in
                    Software Engineering.
                    I am currently in search of a full-time software development position. I am a life long learner who
                    is detail-oriented, solution-minded, a strong communicator,
                    committed to seeing tasks through, and motivated to produce the highest quality of work
                    possible.</p>
                <p>I thrive working in a team environment, but can work independently as-well. I am passionate about
                    writing code, developing solutions, and gaining new knowledge. I believe that the secret to success
                    is
                    being a life-long learner.</p>
                <p>When I am not writing code, I can be found tinkering, watching comedy movies, or playing simulator
                    games! </p>
            </header>
            <ul class="icons major">

                <li><a href="https://github.com/APet99" class="no_underline_link" target="_blank"><span
                                class="icon brands fa-github-square fa-3x major style1"><span
                                    class="label">Git Hub</span></span></a></li>
                <li><a href="https://www.linkedin.com/in/alexpeterson99/" class="no_underline_link"
                       target="_blank"><span class="icon brands fa-linkedin fa-3x major style1"><span
                                    class="label">Linked In</span></span></a></li>
                <li><a href="https://leetcode.com/APet99/" class="no_underline_link" target="_blank"> <span
                                class="icon solid fa-code major style3"><span
                                    class="label">Leet Code</span></span> </a></li>
            </ul>
        </div>
    </section>

    <!-- Two -->
    <section id="FeaturedProjects" class="wrapper alt style2">
        <h2 style="text-align: center; font-size: 200%; margin:0; padding: 2em 0; text-decoration: underline;">&lt/
            Featured Projects &gt</h2>
        <section class="spotlight">
            <div class="image"><img src="images/itsClassified.png" alt="" style="max-height: 450px; width: auto"/></div>
            <div class="content">
                <h2>Artificial Intelligence / Machine Learning Classification Analysis</h2>
                <p>Enter A project Description Here!</p><hr> <!-- todo description -->
                <strong>Languages and Skills:</strong> <i>Python, Git, Remote Development, Agile Development</i><hr>
                <ul class="actions">
                    <li><a href="https://github.com/APet99/AI-ML-Comparison" target="_blank" class="button fit"><span
                                    class="fab fa-github"></span>&nbsp;|&nbsp;View GitHub Repository</a></li>
                    <li><a href="https://www.youtube.com/watch?v=W3ccphg39vo" target="_blank" class="button fit"><span
                                    class="fab fa-youtube"></span>&nbsp;|&nbsp;View Demo Video</a></li>
                </ul>


            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="../images/gears.png" alt="" style="max-height: 450px; width: auto"/></div>
            <div class="content">
                <h2>Grading Automation Script</h2>
                <p>Enter A project Description Here!</p> <!-- todo description -->

                <ul class="actions">
                    <li><a href="https://github.com/APet99/GradingAutomation" target="_blank" class="button fit"><span
                                    class="fab fa-github"></span>&nbsp;|&nbsp;View GitHub Repository</a></li>
                </ul>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="../images/glove.png" alt="" style="max-height: 450px; width: auto"/></div>
            <div class="content">
                <h2>Smart Home Accessibility</h2>
                <p>Enter A project Description Here!</p> <!-- todo description -->

                <ul class="actions">
                    <li><a href="https://github.com/APet99/Alexa-Smart-Glove" target="_blank" class="button fit"><span
                                    class="fab fa-github"></span>&nbsp;|&nbsp;View GitHub Repository</a></li>
                    <li><a href="https://www.youtube.com/watch?v=881YJrGfr8g" target="_blank" class="button fit"><span
                                    class="fab fa-youtube"></span>&nbsp;|&nbsp;View Demo Video</a></li>
                </ul>
            </div>
        </section>
    </section>

    <!-- Four? -->
    <section id="OtherProjects" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>&lt/ Other Projects &gt</h2>

            </header>
            <ul class="features">
                <li class="fas fa-cogs">
                    <h3>Zoom/Webex Auto Joiner</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/ZoomWebexAutoJoiner">Learn More</a>
                </li>
                <li class="fas fa-laptop-code">
                    <h3>IDEal Classroom Management Tool</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/idealclassroom">Learn More</a>
                </li>
                <li class="fas fa-terminal">
                    <h3>OneDrive Auto Backup</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/OneDriveAutoBackup">Learn More</a>
                </li>
                <li class="fab fa-android"></i>
                    <h3>No Symptoms</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/NoSymptoms">Learn More</a>
                </li>
                <li class="fas fa-gamepad">
                    <h3>Game Clash</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/GameClash">Learn More</a>
                </li>
                <li class="fas fa-search">
                    <h3>Search Engine</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/SearchEngine">Learn More</a>
                </li>
                <li class="fab fa-connectdevelop">
                    <h3>Vehicle Management API</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/VehicleManagement">Learn More</a>
                </li>
                <li class="fas fa-database">
                    <h3>Flight Management Database</h3>
                    <p>Brief descripton here... </p> <!-- todo description -->
                    <a class="button fit primary" href="/projects/FlightManagement">Learn More</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- todo Java Script to make this dynamic (pull blogs from DB)   -->
    <section id="Blog" class="wrapper alt style2">
        <h2 style="text-align: center; font-size: 200%; margin:0; padding: 2em 0; text-decoration: underline;">&lt/
            Recent Blog Posts &gt</h2>
        <section class="spotlight">
            <div class="image"><img src="images/pic01.jpg" alt="" style="max-height: 450px; width: auto"/></div>
            <div class="content">
                <h2>Blog Entry 1</h2>
                <p>Starting content of blog here. This is a teaser. . .</p>
                <ul class="actions">
                    <li><a href="#" target="_blank" class="button fit"><span class="fas fa-blog"></span>&nbsp;|&nbsp;View</a>
                    </li>
                </ul>


            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="../images/pic02.jpg" alt="" style="max-height: 450px; width: auto"/></div>
            <div class="content">
                <h2>Blog Entry 2</h2>
                <p>Starting content of blog here. This is a teaser. . .</p>

                <ul class="actions">
                    <li><a href="#" target="_blank" class="button fit"><span class="fas fa-blog"></span>&nbsp;|&nbsp;View</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="../images/pic03.jpg" alt="" style="max-height: 450px; width: auto"/></div>
            <div class="content">
                <h2>Blog Entry 3</h2>
                <p>Starting content of blog here. This is a teaser. . .</p>

                <ul class="actions">
                    <li><a href="#" target="_blank" class="button fit"><span class="fas fa-blog"></span>&nbsp;|&nbsp;View</a>
                    </li>
                </ul>
            </div>
        </section>
    </section>


    <!-- CTA -->
    <section id="Contact" class="wrapper style4">
        <div class="inner">
            <header>
                <h2 style="text-align: center;" >&lt/ Contact Me &gt</h2>
            </header>

            <div style="width: 100%; height: 550px; overflow: hidden">
                <%- include('partials/contact') %>
            </div>

        </div>
    </section>


    <%- include('partials/footer') %>
</div>

<%- include('partials/bottomimports') %>

</body>
</html>